.myNavbar {
  position: relative;
  .secondBar {
    position: fixed;
    min-height: 100vh !important;
    width: 100%;
    top: 0;
    z-index: 4;
    transition: 0.3s;
    .closeSpan {
      position: absolute;
      cursor: pointer;
      right: 10px;
      top: 10px;
      background-color: rgb(43, 3, 11);
      padding: 10px;
      font-size: 20px;
      line-height: 15px;
      border-radius: 8px;
    }
    .navbar-nav {
      padding-top: 40px;
    }
    a {
      display: inline-block;
    }
  }
  .secondBarLeft0 {
    left: 0;
  }
  .secondBarLeft100 {
    left: -100%;
  }
}
