.products {
  .descr {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.checkBox {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
